<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} - Harvester</title>
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div id="wrap">
			<header>
				{% include 'includes/header.html' %}
			</header>
			<div class="container">
				{% block content %}{% endblock %}
			</div>
			<div id="push"></div>
		</div>
		<footer>
			{% include 'includes/footer.html' %}
		</footer>
		<scipt src="{{ STATIC_URL }}js/lib/jquery.min.js"></scipt>
		<scipt src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></scipt>
	</body>
</html>